.current-song-container {
    display: inline-flex;
    flex-direction: row;
    width: 33%;
    justify-content: flex-start;
    margin-left: 15px;
    padding-top: 15px;
    flex: 2;
}

.current-song-details {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
}

.current-song-header {
    font-size: 18pt;
    font-weight: 500;
}