#play-btn {
    width: 50px;
    height: 50px;
    margin: 0px 1em;
}

#skip-back-btn {
    margin-top: 20px;
}

#skip-forward-btn {
    margin-top: 20px;
}

#vol-slider {
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 15px;
}

.music-buttons {
    flex: 1.5;
}